mixin GlonassPertners(bem)
    +b('glonass-partners',bem,'section')
        +e('wrapper',{b:'container'})
            h3.h3__glonass-partners Наши клиенты
            +e('inner',{b:'container__row'})
                .glonass-partners__col
                    .glonass-partners__item
                .glonass-partners__col
                    .glonass-partners__item
                .glonass-partners__col
                    .glonass-partners__item
                .glonass-partners__col
                    .glonass-partners__item
                .glonass-partners__col
                    .glonass-partners__item
            
            