mixin GlonassHead(bem)
    +b('glonass-head',bem,'section')
        +e('wrapper',{b:'container'})
            +e('inner',{b:'container__row'})
                +e('content',{b:'container__col-glonass-text'}) 
                    h1.h1__glonass-head Оборудование для системы ЭРА-ГЛОНАСС оптом и в розницу по всей России
                    p.glonass-head__text Обеспечивает автоматический и ручной вызов экстренных служб с обеспечением громкой связи между людьми в машине и оператором, а также с автоматической передачей координат и другой информации.
                    img.glonass-head__img(src="images/glonass_head.png", alt="ЭРА-ГЛОНАСС")
                +e('content',{b:'container__col-glonass-msg'}) 
                    +e('wrapper-top-left')
                        +Heading({},{titleSize: '2', title: "Рекомендованная розничная цена"})
                        +e('wrapper-top-left-price')
                            span.js-set-price
                                | 22 800*
                            | руб
                        +e('wrapper-top-left-description')
                            p
                                | *Цена действительна в Москве и Московской области. Подробную информацию о стоимости продуктов и услуг в Вашем городе, Вы можете уточнить у регионального представителя. Телефоны указаны в разделе <a href="#">Контакты</a>
                        +Button({m: 'theme-red'},{text: 'Оставить заявку', selector: 'a'})(href="#" data-show-modal='form1' data-form-theme='dsfdsfsd')