mixin InfoBlock(bem,data)
    +b('info-block',bem,'section')
        +e('wrapper',{b:"container"})
            +e('inner',{b:"container__row"})
                +e('col',{m:'img'})
                    +e('img',{},'img')(src="images/info_bg.png")
                +e('col',{m:'text'})
                    +e('title') Охранные комплексы
                    +Heading({m:"theme-red-lined"},{titleSize:'2',title:'Autoconnex - гарантия безопасности вашего авто'})
                    p Различные механические замки или блокираторы не смогут обеспечить должной безопасности вашего автомобиля. Мы предлагаем вам создать необходимый уровень безопасности для вашего авто с помощью наших спутниковых сигнализаций и спутниковых противоугонных систем.
                    p Современные технологии защиты позволяют нам вовремя предотвратить кражу или взлом авто в любой точке мира.
                    +ReadMore({},{url:'#',title:'Подробнее'})
