mixin AboutStages(bem)
    +b('about-stages',bem,'section')
        +e('wrapper',{b:'container'})
            +e('inner',{b:'container__row'})
                +e('content',{b:'container__col'})
                    +Heading({},{titleSize:2,title:'Этапы развития'})
                    +Stages({},[
                        {
                            year:'2017',
                            text:'Начало сотрудничества с АО «ГЛОНАСС»'
                        },
                        {
                            year: '2016',
                            text: 'Получение аккредитации Российского Союза Автостраховщиков по «безлимитному» европротоколу'
                        },
                        {
                            year: '2015',
                            text: 'Количество активированных систем на телематической платформе превысило 235 000'
                        },
                        {
                            year: '2014',
                            text: 'Проведение сертификации по ISO/IEC 27001:2005 (система менеджмента информационной безопасности) и OHSAS 18001:2007 (система менеджмента безопасности труда и охраны здоровья)'
                        },
                        {
                            year: '2012',
                            text: 'Получение лицензии ФСБ'
                        },
                        {
                            year: '2011',
                            text: 'Запуск новой линейки двусторонних автомобильных сигнализаций CobraColor'
                        },
                        {
                            year: '2017',
                            text: 'Начало сотрудничества с АО «ГЛОНАСС»'
                        },
                        {
                            year: '2016',
                            text: 'Получение аккредитации Российского Союза Автостраховщиков по «безлимитному» европротоколу'
                        },
                        {
                            year: '2015',
                            text: 'Количество активированных систем на телематической платформе превысило 235 000'
                        },
                        {
                            year: '2014',
                            text: 'Проведение сертификации по ISO/IEC 27001:2005 (система менеджмента информационной безопасности) и OHSAS 18001:2007 (система менеджмента безопасности труда и охраны здоровья)'
                        },
                        {
                            year: '2012',
                            text: 'Получение лицензии ФСБ'
                        },
                        {
                            year: '2011',
                            text: 'Запуск новой линейки двусторонних автомобильных сигнализаций CobraColor'
                        },
                        {
                            year: '2017',
                            text: 'Начало сотрудничества с АО «ГЛОНАСС»'
                        },
                        {
                            year: '2016',
                            text: 'Получение аккредитации Российского Союза Автостраховщиков по «безлимитному» европротоколу'
                        },
                        {
                            year: '2015',
                            text: 'Количество активированных систем на телематической платформе превысило 235 000'
                        },
                        {
                            year: '2014',
                            text: 'Проведение сертификации по ISO/IEC 27001:2005 (система менеджмента информационной безопасности) и OHSAS 18001:2007 (система менеджмента безопасности труда и охраны здоровья)'
                        },
                        {
                            year: '2012',
                            text: 'Получение лицензии ФСБ'
                        },
                        {
                            year: '2011',
                            text: 'Запуск новой линейки двусторонних автомобильных сигнализаций CobraColor'
                        }
                    ])