@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Roman.eot');
  src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Roman.svg#../../fonts/HelveticaNeue-Roman') format('svg'),
  url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'),
  url('../fonts/HelveticaNeue-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeue-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

