mixin DocsBlock(bem)
    +b('docs-block',bem,'section')
        +e('wrapper',{b:'container'})
            +e('inner',{b:'container__row'})(data-gallery='')
                +Heading({b:'container__col'},{titleSize:'2',title:'Награды и сертификаты'})
                +Doc({},{url:'images/asn_img.jpg',title:'Диплом за заслуги в развитии компании “АвтоАудиоЦентр”'})
                +Doc({},{url:'images/asn_img.jpg',title:'Диплом Международного Московского автомобильного салона “Салон 2008”'})
                +Doc({},{url:'images/asn_img.jpg',title:'Диплом за заслуги в развитии компании “АвтоАудиоЦентр”'})
                +Doc({},{url:'images/asn_img.jpg',title:'Диплом Международного Московского автомобильного салона “Салон 2008”'})
