mixin AboutHead(bem)
    +b('about-head',bem,'section')
        +e('wrapper',{b:'container'})
            +e('inner',{b:'container__row'})
                +e('content',{b:'container__col'})
                    +Heading({m:'theme-red-lined'},{titleSize:"1", title:'Компания "АВТОКОННЕКС"'})
                    p
                        | <b>ООО «АВТОКОННЕКС»</b> — официальный представитель международной компании Vodafone Automotive Technologies (ранее, до 31 марта 2015 года, Cobra AT) в России. Наша компания является ведущим игроком на рынке обеспечения безопасности и мониторинга транспортных средств на территории России и стран СНГ.
                    p Мы предлагаем для вас уникальное сочетание автомобильных электронных систем и локационных сервисов, разработанных на высоком уровне по европейским технологиям, а так же специализированные услуги в сегментах ОЕМ (установка на заводе), OES (установка после сборки) и Aftermarket. Все услуги предоставляются на базе современных технологий ГЛОНАСС/GPS.

                    +Heading({m:'theme-red'},{titleSize:"2", title:'Преимущества компании'})
                    +e('advantage-list',{b:'container__row'})
                        +AdvantageItem({m:'theme-white-block',b:'container__col'},{
                            icon:'1',
                            text:'Высокое качество продуктов и услуг, установка современного противоугонного оборудования, по европейским стандартам качества'
                        })
                        +AdvantageItem({m: 'theme-white-block',b:'container__col'},{
                            icon: '2',
                            text: 'Собственная служба технической поддержки, помощь по вопросам безопасности вашего авто, высокий уровень сервиса и обслуживания'
                        })

                    +e('advantage-list',{b:'container__row'})
                        +AdvantageItem({m: 'theme-white-block',b:'container__col'},{
                            icon: '3',
                            text: 'Круглосуточные Диспетчерские Центры Cobra по всему миру, консультация и техническая поддержка в любой точке мира'
                        })
                        +AdvantageItem({m: 'theme-white-block',b:'container__col'},{
                            icon: '4',
                            text: 'Широчайшая региональная сеть в России и странах СНГ, более 80000 клиентов, которые доверяют нам безопасность своего авто'
                        })
                        +AdvantageItem({m: 'theme-white-block',b:'container__col'},{
                            icon: '5',
                            text: 'Новейшие технологические разработки, гарантирующие надежность и удобство использования оборудования'
                        })
