.clients-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  .client{
    margin-bottom: 30px;
  }
}