mixin GlonassAbout(bem)
    +b('glonass-about',bem,'section')
        +e('wrapper',{b:'container'})
            p.glonass-about__title Главная цель создания и внедрения системы «ЭРА-ГЛОНАСС» - сохранение жизни и здоровья пострадавших в дорожно-транспортных происшествиях и различных чрезвычайных ситуациях на дороге.
            p.glonass-about__text Ожидается, что система, охватывающая все автомобильные дороги России, также повысит безопасность пассажирских и грузовых перевозок.
            p.glonass-about__text В автомобиль встраивают терминал, который автоматически определяет местоположение транспортного средства и по мобильной связи передает в систему информацию о ДТП. Пакет данных, помимо координат, содержит время аварии, тяжесть последствий и VIN-номер транспортного средства. При этом водитель может подать сигнал самостоятельно, нажав на терминале соответствующую кнопку.
            p.glonass-about__title В соответствии с Техническим регламентом Таможенного союза «О безопасности колесных транспортных средств» установлено, какие транспортные средства и в какие сроки должны быть оснащены системой «ЭРА-ГЛОНАСС»:
            ul.glonass-about__list
                li
                    p.glonass-about__text с 1 января 2015 года — транспортные средства, впервые проходящие процедуру одобрения типа на соответствие требованиям технического регламента;
                li
                    p.glonass-about__text с 1 января 2016 года — транспортные средства, используемые для коммерческой перевозки пассажиров и перевозки опасных грузов, твердых бытовых отходов и мусора (мусоровозы), выпускаемые в обращение на территории стран Таможенного союза;
                li
                    p.glonass-about__text с 1 января 2017 года — все транспортные средства, выпускаемые в обращение на территории стран Таможенного союза.
            .glonass-about__text Начиная с 1 января 2017 года в раздел «Особые отметки» ПТС в обязательном порядке вносится информация об установленном модуле вызова экстренных служб. Без этой отметки ПТС просто не выдадут, что будет означать невозможность дальнейших регистрационных действий и эксплуатации автомобиля. Чтобы беспрепятственно получить ПТС, необходимо пройти через следующие этапы:
            ul.glonass-about__list
                li
                    p.glonass-about__text Приобретение терминала ЭРА-ГЛОНАСС и заключение с сертифицированным установочным центром договора на его установку;
                li
                    p.glonass-about__text Внесение оператором системы ЭРА-ГЛОНАСС в нее информации о VIN-номере и номере кузова автомобиля, а также номере самого устройства;
                li
                    p.glonass-about__text Получение СБКТС;
                li
                    p.glonass-about__text Предоставление на таможню СБКТС и сопутствующих документов – после этого таможня выдаст ПТС;
                li
                    p.glonass-about__text В течение 10 дней после получения ПТС установить терминал ЭРА-ГЛОНАСС на автомобиль и зарегистрировать автомобиль в ГИБДД. После этого автомобиль можно свободно эксплуатировать.
            