include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
include blocks

- menuData = [{url:'#',text:'АСН терминал'},{url:'#',text:'Mониторинг'},{url:'#',text:'Противоугонные комплексы'}]

block data

if !page
    block content
else
    doctype
    html(lang='ru')
        head
            meta(charset='utf-8')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            title=( page.title || 'Title' )
            meta(name='description' content=( page.description || 'Description' ))
            link(rel="stylesheet" href="css/styles.min.css")

        body
            noscript
                +b('noscript-alert') для корректной работы сайта включите java-script
            .page
                +Header({})
                // content
                main.main
                    block content
                // end content
                +Footer({})
            +modals({})
            #svg-sprite(class='svg-sprite' data-src='images/sprite.svg')
            script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
            script(src="js/main.min.js")
