@import "gui.scss";

.symbol_appstore {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_close {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_doc {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_facebook {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_fleur {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_gasoline-pump {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_gear-loading {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_google-play {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_hexbordered {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_hexsolid {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_instagramm {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_left-arr {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_left-arrow {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_linked-in {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_location-pin {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_plus {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_right-arrow {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_search {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_slider-arrow-left {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_slider-arrow-right {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_speedometer {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_star {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_star-filled {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_twitter {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_user {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_vk {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_wallet {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symbol_youtube {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symol_clock {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symol_power-button {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
.symol_siren {
  display: inline-block;
  fill: currentColor;
  transition: all 0.5s
}
