.header{
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 901;
  margin-bottom: -94px;
  background-color: transparent;
  transition: background-color 0.5s ease;
  &.state_scroll{
    background-color: $light;
    box-shadow: 0 0 10px rgba(0,0,0,0.05)
  }
  @include respond-to(ss){
    position: sticky;
    background-color: transparentize($light, 0.33);
    margin-bottom: 0;
  }
  @include respond-to(md){
    padding: 15px;
    margin-bottom: -78px;
  }
  @include respond-to(sm){
    padding: 15px;
    background: $light;
    margin-bottom: -78px;
  }
  @include respond-to(xs){
    padding: 15px;
    background: $light;
  }
  &__wrapper{
    @include respond-to(lg){
      padding: 0 60px;
    }
  }
}
