extends blocks/layout

block data

    - const page = {name:'index',title: 'О компании'};


block content
    +AboutHead()
    +AboutTechBlock()
    +AboutStages()
    +DocsBlock()
    +NewsBlock()
    +CallForm()