extends blocks/layout

block data

    - const page = {name:'index',title: 'ACH'};


block content
    +HeaderBanner({},{
        button:{
            text:'Оставить заявку',
            link:'#'
        },
        title:'Сертифицированный  АСН-терминал от  производителя с  гарантией',
        text:'Полностью соответствует требованиям  Постановления Правительства №153 от 13.02.2018',
        img:'images/back.jpg'
    })
    +b()
    +b('container',{m:'centered',b:'asn'})
        +e('row')
            +e('col',{m:'full'})
                +Heading({},{titleSize:2,title:'Мы производим и устанавливаем АСН-терминалы'})
                p
                    | Прошел испытания и получил сертификат на соответствие требованиям ТР ТС 018/2011. <br>  Может применяться во  всех компаниях, перевозящих пассажиров и опасные грузы.
                img(src='images/asn_img.jpg')
                p
                    | Сертифицированный навигационный терминал, который передает данные <br> о параметрах движения транспортного средства одновременно в Ространснадзор <br> через систему «ЭРА-ГЛОНАСС» и в облачный сервис мониторинга транспорта.
    +b('info-block',{m:'theme-grey'},'section')
        +e('wrapper',{b: "container"})
            +e('inner',{b: "container__row"})
                +e('col')
                    +Heading({},{titleSize:2,title:'Технические характеристики'})
                    +Specifications({},[
                       '24В вход',
                        '(-) Масса вход',
                        'Выход 12В на ЭРА',
                        'Выход (-) на ЭРА',
                        'Вход +15 (зажигание) 24',
                        'Выход +15 (зажигание) 12 на ЭРА',
                        'Выход программируемый',
                        'Аналоговый вход (от 0 до 36) В',
                        'CAN H (подключение к ЭРА)',
                        'CAN L (подключение к ЭРА)'
                    ]).

                +e('col')
                    +e('img',{},'img')(src="images/scheme.png")
    +b('info-block',{},'section')(style=`background-image: url("images/pk.jpg");`)
        +e('wrapper',{b: "container"})
            +e('inner',{b: "container__row"})
                +e('col')
                    +e('title') Мониторинг
                    +Heading({m:'theme-red-lined'},{titleSize:2,title:'Расширить возможности АСН-терминала Автоконнекс'})
                    p
                        | Компания ООО "АВТОКОННЕКС" более 15 лет успешно работает на рынке автомобильной безопасности.
                    p
                        | Нашими постоянными партнерами стали ведущие страховые компании, российские представительства и дилеры международных автомобильных холдингов.
                +e('col')
    +b('info-block',{b:'p-120'},'section')
        +e('wrapper',{b: "container"})
            +e('inner',{b: "container__row"})
                +e('col')
                    +e('img',{},'img')(src="images/61.png")
                +e('col')
                    +Heading({},{titleSize:2,title:'Цены и установка'})
                    p
                        | Хороший опыт установки профессионалльного противоугонного оборудования и эффективного противодействия угонам помогает нам с уверенностью гарантировать ваше спокойствие.
                    +b('container__row')
                        +b('container__col',{m:'half'})
                            +PriceList({},{
                                title:'Терминал АСН',
                                price:'<span>6.800</span> руб',
                                text:'Полный комплект в красивой упаковке'
                            })
                        +b('container__col',{m:'half'})
                            +PriceList({},{
                                title: 'Установка',
                                price: 'от <span>3.200</span> руб',
                                text: 'Гарантийное обслуживание и контроль работы'
                            })
    +CallForm()