extends blocks/layout

block data

    - const page = {name:'index',title: 'Детальная'};


block content
    +ProductDetail({})
    +RewievsBlock({},{list:[
            {
                rating:'3',
                user:'Валерий',
                date:'05.03.2018',
                title:'Удобный сервис',
                text:'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            },
            {
                rating: '3',
                user: 'Валерий',
                date: '05.03.2018',
                title: 'Удобный сервис',
                text: 'Профессионалы своего дела и знают толк в утсановке противоугонного оборудования в любой автомобиль. Всем рекомендую!'
            }
        ],
        rating:'3,5',
        count:'5',
        text:'25 отзывов'
    })
    +InfoBlock4()
    +CallForm()