extends blocks/layout

block data

    - const page = {name:'index',title: 'Каталог'};


block content
    +Catalog({},[
        {
            category:{
                id:'satelite',
                name:'Спутниковые сигнализации'
            },
            name:'Rider',
            img: 'images/cat_product.jpg',
            rating: 5,
            propsType: 'default',
            props: [
                'Центр Оперативного Реагирования (24 часа в сутки)',
                'Центр технической поддержки',
                'Скидки при страховании',
                'Одобрено ведущими мировыми автопроизводителями',
                'Сеть диспетчерских центров в Европе Услуги 24/7',
                'Глобальное покрытие GSM и GPRS'
            ],
            url: '#'
        },
        {
            category: {
                id: 'satelite',
                name: 'Спутниковые сигнализации'
            },
            name: 'Garant',
            img: 'images/cat_product.jpg',
            rating: 5,
            propsType: 'plus',
            propsBefore:'Весь функционал системы Rider, плюс:',
            props: [
                'Датчик удара (вибрации)',
                'Датчик движения (наклона)',
                'Контроль уровня GSM'
            ],
            url: '#'
        },
        {
            category: {
                id: 'double',
                name: 'Двусторонние сигнализации'
            },
            name: 'Best Luxe',
            img: 'images/cat_product.jpg',
            rating: 5,
            propsType: 'plus',
            propsBefore: 'Весь функционал системы Garant плюс:',
            props: [
                'Датчик удара (вибрации)',
                'Датчик движения (наклона)',
                'Контроль уровня GSM'
            ],
            url: '#'
        },
        {
            category: {
                id: 'satelite',
                name: 'Спутниковые сигнализации'
            },
            name: 'Rider',
            img: 'images/cat_product.jpg',
            rating: 5,
            propsType: 'default',
            props: [
                'Центр Оперативного Реагирования (24 часа в сутки)',
                'Центр технической поддержки',
                'Скидки при страховании',
                'Одобрено ведущими мировыми автопроизводителями',
                'Сеть диспетчерских центров в Европе Услуги 24/7',
                'Глобальное покрытие GSM и GPRS'
            ],
            url: '#'
        },
        {
            category: {
                id: 'satelite',
                name: 'Спутниковые сигнализации'
            },
            name: 'Garant',
            img: 'images/cat_product.jpg',
            rating: 5,
            propsType: 'plus',
            propsBefore: 'Весь функционал системы Rider, плюс:',
            props: [
                'Датчик удара (вибрации)',
                'Датчик движения (наклона)',
                'Контроль уровня GSM'
            ],
            url: '#'
        },
        {
            category: {
                id: 'double',
                name: 'Двусторонние сигнализации'
            },
            name: 'Best Luxe',
            img: 'images/cat_product.jpg',
            rating: 5,
            propsType: 'plus',
            propsBefore: 'Весь функционал системы Garant плюс:',
            props: [
                'Датчик удара (вибрации)',
                'Датчик движения (наклона)',
                'Контроль уровня GSM'
            ],
            url: '#'
        }
    ])
    +b('container',{m:'mb-120'},'section')
        +e('row')
            +e('col')
                +Heading({m:"theme-red-lined"},{titleSize:'2',title:'Высокое качество и надежность'})
                p Главным условием защиты вашего автомобиля несомненно является профессиональное и качественное противоугонное оборудование. Наша продукция разработана на базе оборудования итальянской компании «Cobra AT» («Cobra Automotive Technologies SpA»), которая является лидирующей международной компанией в области систем безопасности для автомобильного сегмента в Европе.
                +Heading({},{titleSize:'3',title:'Современные технологии защиты авто'})
                p
                    | В наше время практика такова, что опытные автоугонщики способны без особого труда отключить множество сигнализаций или иммобилайзеров, при том что на взлом сложных систем необходимо время, которого во многих случаях хватает для совершения угона. Одним из самых надежных способов уберечь свой автомобиль от угона является установка спутниковых сигнализаций и противоугонных комплексов, профессиональную установку которых осуществляет наша компания. <br> Современные модели автосигнализаций имеют до трех позиций блокирования двигателя, а так же могут заблокировать капот, багажник, окна и двери, тем самым надежно защищая ваш автомобиль от угона. Так же защитный функионал данного оборудования со временем можно расширять, что в свою очередь и предлагает наша компания своим клиентам. Надежность автосигнализации во многом зависит от того, как качественно и правильно она была установлена, поэтому устновку, наладку и обслуживание противоугонного оборудования лучше всего доверить специалистам нашей компании.
                p
                    | Наши специалисты помогут вам правильно подобрать оборудование для вашего авто, учитывая его особенности эксплуатации и хранения.

    +CallForm()