.main-menu__item{
  margin-right: 40px;
  font-size: 26px;
  a{
    color: inherit;
  }
  @include respond-to(md){
    margin-right: 15px;
  }
  @include respond-to(sm){
    display: block;
    margin-right: 15px;
  }
  @include respond-to(xs){
    display: block;
    margin-bottom: 15px;
  }
  @include respond-to(md){
    font-size: 20px;
  }
  @include respond-to(sm){
    font-size: 18px;
  }
  @include respond-to(ss){
    font-size: 16px;
    width: 100%;
  }
  &:hover,&.state_active{
    transition: color 0.5s ease;
    color: $red;
  }
}