mixin GlonassFeature(bem)
    +b('glonass-feature',bem,'section')
        +e('wrapper',{b:'container'})
            h3.h3__glonass-feature Преимущества
            +e('inner',{b:'container__row'})
                .glonass-feature__col.glonass-feature__col--text
                    ul.glonass-feature__list
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/01.png", alt="Иконка приемущества")
                            p Автоматический вызов при ударе или перевороте
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/02.png", alt="Иконка приемущества")
                            p Ручной вызов кнопкой SOS
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/03.png", alt="Иконка приемущества")
                            p Автоматическая передача информации при вызове
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/04.png", alt="Иконка приемущества")
                            p Громкая голосовая связь с оператором
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/05.png", alt="Иконка приемущества")
                            p Автоматическая и ручная диагностика
                .glonass-feature__col.glonass-feature__col--img
                    .glonass-feature_sticky-block
                        h2.h2__glonass-feature Основные функции
                        img.glonass-feature__img(src="images/box.png", alt="характеристики")
                .glonass-feature__col.glonass-feature__col--text
                    ul.glonass-feature__list
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/06.png", alt="Иконка приемущества")
                            p Телематические сервисы
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/07.png", alt="Иконка приемущества")
                            p Обновление ПО «по воздуху»
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/08.png", alt="Иконка приемущества")
                            p Выход в интернет
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/09.png", alt="Иконка приемущества")
                            p Навигация для системы мультимедиа
                .glonass-feature__col.glonass-feature__col--text.glonass-feature__col--bottom
                    ul.glonass-feature__list
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/10.png", alt="Иконка приемущества")
                            p Подключение внешних антенн GNSS, GSM
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/11.png", alt="Иконка приемущества")
                            p Интерфейсы CAN, USB
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/12.png", alt="Иконка приемущества")
                            p Резервный аккумулятор
                .glonass-feature__col.glonass-feature__col--text.glonass-feature__col--bottom
                    ul.glonass-feature__list
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/13.png", alt="Иконка приемущества")
                            p Номинальное напряжение питания 12 В или 24 В
                        li.glonass-feature__item
                            span.glonass-feature__icon 
                                img(src="images/14.png", alt="Иконка приемущества")
                            p Диапазон рабочих температур от -40 до +85 С
            p.glonass-feature__text Стоимость установки «ЭРА-ГЛОНАСС» определяется в индивидуальном порядке в зависимости от модели автомобиля и сложности установки Дизайн упаковки и компонентов может отличаться. Не является публичной офертой