mixin NewsBlock(bem)
    +b('news-block',bem,'section')
        +e('wrapper',{b: 'container'})
            +e('inner',{b: 'container__row'})
                +e('content',{b: 'container__col'})
                    +Heading({},{titleSize: '2', title: 'Новости компании'})
                    +NewsSlider({},[
                        {
                            date:'20 марта 2018',
                            title:'Заголовок новости в новостной ленте',
                            text:'Текст анонса новости в карточке с ограничением на сто двадцать анонса новости в карточке с ограничением на сто двадцать анонса новости в карточке с ограничением на сто двадцать анонса новости в карточке с ограничением на сто двадцать или сто сорок символов и многоточием в конце...',
                            href:'#'
                        },
                        {
                            date: '20 марта 2018',
                            title: 'Заголовок новости в новостной ленте',
                            text: 'Текст анонса новости в карточке с ограничением на сто двадцать или анонса новости в карточке с ограничением на сто двадцать сто сорок символов и многоточием в конце...',
                            href: '#'
                        },
                        {
                            date: '20 марта 2018',
                            title: 'Заголовок новости в новостной ленте',
                            text: 'Текст анонса новости в карточке с ограничением на сто двадцать или анонса новости в карточке с ограничением на сто двадцатьанонса новости в карточке с ограничением на сто двадцатьанонса новости в карточке с ограничением на сто двадцатьанонса новости в карточке с ограничением на сто двадцатьанонса новости в карточке с ограничением на сто двадцатьсто сорок символов и многоточием в конце...',
                            href: '#'
                        },
                        {
                            date: '20 марта 2018',
                            title: 'Заголовок новости в новостной ленте',
                            text: 'Текст анонса новости в карточке с ограничением на сто двадцать или сто сорок символов и многоточием в конце...',
                            href: '#'
                        },
                        {
                            date: '20 марта 2018',
                            title: 'Заголовок новости в новостной ленте',
                            text: 'Текст анонса новости в карточке с ограничением на сто двадцать или сто сорок символов и многоточием в конце...',
                            href: '#'
                        },
                        {
                            date: '20 марта 2018',
                            title: 'Заголовок новости в новостной ленте',
                            text: 'Текст анонса новости в карточке с ограничением на сто двадцать или сто сорок символов и многоточием в конце...',
                            href: '#'
                        },
                        {
                            date: '20 марта 2018',
                            title: 'Заголовок новости в новостной ленте',
                            text: 'Текст анонса новости в карточке с ограничением на сто двадцать или сто сорок символов и многоточием в конце...',
                            href: '#'
                        }
                    ])(data-slides-count='4')